.rainbow-text {
    background: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    );
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 2s ease infinite;
  }
.navbar .nav-link {
  text-decoration: none; 
  transition: color 0.3s ease, text-decoration 0.3s ease; 
}

.navbar .nav-link:hover {
  text-decoration: none; 
  color: white; 
}

  
  @keyframes rainbow-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  